{% extends "layout.html" %}
{% block title %}
: Timetable
{% endblock %}
{% block main %}
<div align="center">
    <table class="table" style="text-align:center;">
        <thead>
            <tr>
                <th></th>
                <th scope="col">Monday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
            </tr>
        </thead>
        <tr>
            <th scope="row">8:40</th>
            <th>Math</th>
            <th>Ukrainian language</th>
            <th>English</th>
            <th></th>
            <th>Informatics</th>
        </tr>
        <tr>
            <th scope="row">9:30</th>
            <th>English</th>
            <th>Ukrainian literature</th>
            <th>Informatics</th>
            <th>History</th>
            <th>History</th>
        </tr>
        <tr>
            <th scope="row">10:30</th>
            <th>History of Ukraine</th>
            <th>English</th>
            <th>PE</th>
            <th>English</th>
            <th>Pe</th>
        </tr>
        <tr>
            <th scope="row">11:20</th>
            <th>PE</th>
            <th>Pe</th>
            <th>Math</th>
            <th>Math</th>
            <th>Enlgish</th>
        </tr>
        <tr>
            <th scope="row">12:10</th>
            <th>Informatics</th>
            <th></th>
            <th>History</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th scope="row">13:05</th>
            <th></th>
            <th></th>
            <th>Informatics</th>
            <th></th>
            <th></th>
        </tr>
    </table>
</div>
{% endblock %}